<div class="footer" style="background-color: white;padding-bottom: 20px;padding-top: 20px">

    <div class="social-media">
        <a>
            <img style="width: 145px;height: 75px" class="fblogo" src="http://res.cloudinary.com/dmo8iejlq/image/upload/v1523512768/cemaco/daily_logo.png"/>
        </a>
        <a>
            <img style="width: 145px;height: 55px" class="fblogo" src="http://res.cloudinary.com/dmo8iejlq/image/upload/v1523512768/cemaco/logo_oncenoticias.png"/>
        </a>
    </div>



</div>
<style>
    .social-media{
        display: flex;
        justify-content: center;
    }
</style>

