<div [ngSwitch]="isAuthenticated()">
    <div class="example-container mat-elevation-z8" style="margin-top: 20px" *ngSwitchCase="true">
        <div class="example-header" style="background-color: white">
            <div style="padding: 10px">
                <h4>
                    <span>Seguimientos del día de hoy</span>
                </h4>
                <button mat-raised-button color="primary"  [routerLink]="['/validate-contact']"> Crear seguimiento</button>
            </div>
            <!--<button class="btn btn-success" [routerLink]="['/validate-contact']" style="margin-bottom: 20px!important;width: 100%;">-->
                <!--<span class="fa fa-plus"></span>-->
                    <!--<span>-->
                        <!--Crear seguimiento-->
                    <!--</span>-->
            <!--</button>-->
            <mat-grid-list cols="4" rowHeight="100px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field style="width: 100%;padding: 10px">
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar...">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field>
                        <input matInput [matDatepicker]="nextContact" placeholder="Siguiente contacto" (dateChange)="findByNextContact($event)">
                        <mat-datepicker-toggle matSuffix [for]="nextContact"></mat-datepicker-toggle>
                        <mat-datepicker #nextContact></mat-datepicker>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field>
                        <input matInput [matDatepicker]="registry" placeholder="Fecha de registro" (dateChange)="findByRegistryContact($event)">
                        <mat-datepicker-toggle matSuffix [for]="registry"></mat-datepicker-toggle>
                        <mat-datepicker #registry></mat-datepicker>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <button mat-button color="primary" (click)="today()">Limpiar búsqueda</button>
                </mat-grid-tile>

            </mat-grid-list>
        </div>


        <mat-table #table [dataSource]="dataSource">

            <ng-container matColumnDef="no">
                <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                <mat-cell *matCellDef="let follow"> {{follow.id}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="origin">
                <mat-header-cell *matHeaderCellDef> Origen del contacto </mat-header-cell>
                <mat-cell *matCellDef="let follow">
                    <span *ngIf="follow.originContact == '1'">Daily planet</span>
                    <span *ngIf="follow.originContact == '2'">Once noticias</span>
                    <span *ngIf="follow.originContact == '3'">Otro</span>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="mediante">
                <mat-header-cell *matHeaderCellDef> Mediante </mat-header-cell>
                <mat-cell *matCellDef="let follow"> {{follow.subOriginContact}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="next">
                <mat-header-cell *matHeaderCellDef> Próximo contacto </mat-header-cell>
                <mat-cell *matCellDef="let follow"> {{follow.nextContactDate}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="registry">
                <mat-header-cell *matHeaderCellDef> Fecha de registro </mat-header-cell>
                <mat-cell *matCellDef="let follow"> {{follow.registryDate}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
                <mat-cell *matCellDef="let follow">
                    <span class="btn btn-warning" *ngIf="follow.status == 'P'" style="font-size: 12px">Pendiente</span>
                    <span class="btn btn-success" *ngIf="follow.status == 'C'" style="font-size: 12px">Completado</span>
                    <span class="btn btn-danger" *ngIf="follow.status == 'NC'" style="font-size: 12px">No completado</span>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="reason">
                <mat-header-cell *matHeaderCellDef> Razón de contacto </mat-header-cell>
                <mat-cell *matCellDef="let follow"> {{follow.nextContactReason}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="contact">
                <mat-header-cell *matHeaderCellDef> Contacto </mat-header-cell>
                <mat-cell *matCellDef="let follow">
                    <div *ngIf="follow.contactId">
                        <a [routerLink]="['../contact', follow.contactId  ]" >{{follow.contactName}}</a>
                    </div>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
                <mat-cell *matCellDef="let follow">
                    <button mat-raised-button color="primary"  [routerLink]="['../follow', follow.id ]">Detalles</button>
                </mat-cell>
            </ng-container>


            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator #paginator
                       [pageSize]="10"
                       [pageSizeOptions]="[5, 10, 20,50,100,200]"
                       [showFirstLastButtons]="true">
        </mat-paginator>
    </div>
    <div  *ngSwitchCase="false" class="back-ground">
        <button mat-raised-button color="primary" class="btn-out-white" (click)="login()" id="login">
            INICIAR SESIÓN
        </button>
    </div>
</div>


<!--<div class="row">-->
    <!--<div class="col-md-12">-->
        <!--<div [ngSwitch]="isAuthenticated()">-->
            <!--&lt;!&ndash;LOGUEADO&ndash;&gt;-->
            <!--<div *ngSwitchCase="true">-->
                <!--<h4>Filtros</h4>-->
                <!--<div class="row">-->
                    <!--<div class="col-md-3">-->
                        <!--<button class="btn btn-success" [routerLink]="['/validate-contact']" style="margin-bottom: 20px!important;width: 100%;">-->
                            <!--<span class="fa fa-plus"></span>-->
                            <!--<span>-->
                                <!--Crear seguimiento-->
                            <!--</span>-->
                        <!--</button>-->
                    <!--</div>-->
                    <!--<div class="col-md-3">-->

                    <!--</div>-->
                    <!--<div class="col-md-3">-->

                    <!--</div>-->
                    <!--<div class="col-md-3">-->
                        <!--<button class="btn btn-primary" (click)="today()" style="margin-bottom: 20px!important;width: 100%;">-->
                            <!--<span class="fa fa-check"></span>-->
                            <!--<span>-->
                                <!--Hoy-->
                            <!--</span>-->
                        <!--</button>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<hr>-->
                <!--<h4>Seguimientos del día de hoy</h4>-->
                <!--<div class="table-responsive" *ngIf="follows">-->
                    <!--<table class="table table-striped">-->
                        <!--<thead>-->
                        <!--<tr>-->
                            <!--<th><span>Serie</span></th>-->
                            <!--<th><span>Origen del contacto</span></th>-->
                            <!--<th><span>Mediante</span></th>-->
                            <!--<th><span>Próximo contacto</span></th>-->
                            <!--<th><span>Fecha de registro</span></th>-->
                            <!--<th><span>Estado</span></th>-->
                            <!--<th><span>Razón de contacto</span></th>-->
                            <!--<th><span>Resultado</span></th>-->
                            <!--<th><span>Contacto</span></th>-->
                            <!--<th></th>-->
                        <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody>-->
                        <!--<tr *ngFor="let follow of follows ;trackBy: trackId">-->
                            <!--<td><a [routerLink]="['../follow', follow.id ]">{{follow.id}}</a></td>-->
                            <!--<td>-->
                                <!--<span *ngIf="follow.originContact == '1'">Daily planet</span>-->
                                <!--<span *ngIf="follow.originContact == '2'">Once noticias</span>-->
                                <!--<span *ngIf="follow.originContact == '3'">Otro</span>-->
                            <!--</td>-->
                            <!--<td>{{follow.subOriginContact}}</td>-->
                            <!--<td>{{follow.nextContactDate}}</td>-->
                            <!--<td>{{follow.registryDate}}</td>-->
                            <!--<td>-->
                                <!--<span class="btn btn-warning" *ngIf="follow.status == 'P'">Pendiente</span>-->
                                <!--<span class="btn btn-success" *ngIf="follow.status == 'C'">Completado</span>-->
                                <!--<span class="btn btn-danger" *ngIf="follow.status == 'NC'">No completado</span>-->
                            <!--<td>{{follow.nextContactReason}}</td>-->
                            <!--<td>{{follow.result}}</td>-->
                            <!--<td>-->
                                <!--<div *ngIf="follow.contactId">-->
                                    <!--<a [routerLink]="['../contact', follow.contactId  ]" >{{follow.contactName}}</a>-->
                                <!--</div>-->
                            <!--</td>-->
                            <!--<td class="text-right">-->
                                <!--<div class="btn-group flex-btn-group-container">-->
                                    <!--<button type="submit"-->
                                            <!--[routerLink]="['../follow', follow.id ]"-->
                                            <!--class="btn btn-info btn-sm">-->
                                        <!--<span class="fa fa-eye"></span>-->
                                        <!--<span class="d-none d-md-inline">Detalles</span>-->
                                    <!--</button>-->
                                    <!--&lt;!&ndash;<button type="submit"&ndash;&gt;-->
                                            <!--&lt;!&ndash;[routerLink]="['/', { outlets: { popup: 'follow/'+ follow.id + '/edit'} }]"&ndash;&gt;-->
                                            <!--&lt;!&ndash;replaceUrl="true"&ndash;&gt;-->
                                            <!--&lt;!&ndash;queryParamsHandling="merge"&ndash;&gt;-->
                                            <!--&lt;!&ndash;class="btn btn-primary btn-sm">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<span class="fa fa-pencil"></span>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<span class="d-none d-md-inline">Edit</span>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</button>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<button type="submit"&ndash;&gt;-->
                                            <!--&lt;!&ndash;[routerLink]="['/', { outlets: { popup: 'follow/'+ follow.id + '/delete'} }]"&ndash;&gt;-->
                                            <!--&lt;!&ndash;replaceUrl="true"&ndash;&gt;-->
                                            <!--&lt;!&ndash;queryParamsHandling="merge"&ndash;&gt;-->
                                            <!--&lt;!&ndash;class="btn btn-danger btn-sm">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<span class="fa fa-remove"></span>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<span class="d-none d-md-inline">Delete</span>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</button>&ndash;&gt;-->
                                <!--</div>-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash;NO LOGUEADO&ndash;&gt;-->
            <!--<div  *ngSwitchCase="false" class="back-ground">-->
                <!--<button mat-raised-button color="primary" class="btn-out-white" (click)="login()" id="login">-->
                    <!--INICIAR SESIÓN-->
                <!--</button>-->

            <!--</div>-->
        <!--</div>-->

    <!--</div>-->
<!--</div>-->
