
/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../../content/images/hipster.png") no-repeat center top;
    background-size: contain;
}

.calendar{
    background: url("../../content/images/calendar.png") no-repeat center top;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../../content/images/cemaco_back.png") no-repeat center top;
        background-size: contain;
    }
}


.btn-out-white{
    position: relative;
    float: left;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: #31509d;
    background-color: transparent;
    border:2px solid #31509d;
    border-radius: 3px;
    padding: 10px;
    font-weight: bold;
}

.back-ground{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url("../../content/images/cemaco_back.png") no-repeat center center;
    background-size: cover;
}
