<div>
    <div class="example-container mat-elevation-z8" style="margin-top: 20px">
        <div class="example-header" style="background-color: white">
            <div style="padding: 10px">
                <h4>
                    <span>Contactos</span>
                </h4>
            </div>
            <mat-grid-list cols="4" rowHeight="100px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field style="width: 100%;padding: 10px">
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar...">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field style="width: 100%;padding: 10px">
                        <mat-select placeholder="Intereses" [(ngModel)]="selectedInterest" (ngModelChange)="filterInterest(selectedInterest)">
                            <mat-option *ngFor="let interest of interests" [value]="interest">
                                {{ interest }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field style="width: 100%;padding: 10px">
                        <mat-select placeholder="Origen" [(ngModel)]="selectedOrigin" (ngModelChange)="filterOrigin(selectedOrigin)">
                            <mat-option *ngFor="let origin of origins" [value]="origin">
                                {{ origin }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <button mat-button color="primary" (click)="clean()">Limpiar búsqueda</button>
                </mat-grid-tile>

            </mat-grid-list>
        </div>


        <mat-table #table [dataSource]="dataSource">

            <ng-container matColumnDef="position">
                <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                <mat-cell *matCellDef="let contact"> {{contact.id}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let contact"> {{contact.name}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="firstName">
                <mat-header-cell *matHeaderCellDef> Primer apellido </mat-header-cell>
                <mat-cell *matCellDef="let contact"> {{contact.firstName}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef> Correo </mat-header-cell>
                <mat-cell *matCellDef="let contact"> {{contact.email}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="phone">
                <mat-header-cell *matHeaderCellDef> Teléono </mat-header-cell>
                <mat-cell *matCellDef="let contact"> {{contact.phone}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="origin">
                <mat-header-cell *matHeaderCellDef> Origen </mat-header-cell>
                <mat-cell *matCellDef="let contact"> {{contact.origin}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="interest">
                <mat-header-cell *matHeaderCellDef> Interes </mat-header-cell>
                <mat-cell *matCellDef="let contact"> {{contact.interest}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef> Acción </mat-header-cell>
                <mat-cell *matCellDef="let contact">
                    <button mat-button mat-raised-button color="primary" [routerLink]="['../contact', contact.id ]">Detalles</button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator #paginator
                       [pageSize]="10"
                       [pageSizeOptions]="[5, 10, 20,50,100,200]"
                       [showFirstLastButtons]="true">
        </mat-paginator>
    </div>
</div>
