<div *ngIf="contact">
    <div class="row">
        <div class="col-md-12">
            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <span class="fa fa-arrow-left"></span>&nbsp;<span> Número del contacto:</span> {{contact.id}}</span>
            </button>
            <button type="button"
                    [routerLink]="['/', { outlets: { popup: 'contact/'+ contact.id + '/edit'} }]"
                    replaceUrl="true"
                    queryParamsHandling="merge"
                    class="btn btn-success">
                <span class="fa fa-pencil"></span>&nbsp;<span> Editar</span>
            </button>
            <hr>
        </div>
    </div>
    <jhi-alert-error></jhi-alert-error>

    <div class="row">
        <div class="col-md-6">
            <dt><span>Nombre completo</span></dt>
            <dd>
                <span>{{contact.name}} {{contact.firstName}} {{contact.lastName}}</span>
            </dd>

            <hr>

            <dt><span>Cédula</span></dt>
            <dd>
                <span>{{contact.socialId}}</span>
            </dd>

            <hr>

            <dt><span>Fecha de registro</span></dt>
            <dd>
                <span>{{contact.registryDate}}</span>
            </dd>

            <hr>

            <dt><span>Estado</span></dt>
            <dd>
                <span *ngIf="contact.status == 'PL'">Potencial Lead</span>
                <span *ngIf="contact.status == 'L'">Lead</span>
            </dd>

        </div>
        <div class="col-md-6">
            <dt><span>Correo</span></dt>
            <dd>
                <span>{{contact.email}}</span>
            </dd>

            <hr>

            <dt><span>Género</span></dt>
            <dd>
                <span *ngIf="contact.sex == 'h'">Hombre</span>
                <span *ngIf="contact.sex == 'm'">Mujer</span>
                <span *ngIf="contact.sex == 'o'">Otro</span>
            </dd>

            <hr>

            <dt><span>Última fecha de modificación</span></dt>
            <dd>
                <span>{{contact.updateDate}}</span>
            </dd>

        </div>
    </div>
</div>

